#div-articles {
    display: flex;
}

#articleOne {
    border: 1px solid blue;
    width: 50%;
    height: auto;
    min-height: 20px;
    margin: 10px 10px;
    word-wrap: break-word;
}
#articleTwo {
    border: 1px solid red;
    width: 50%;
    height: auto;
    min-height: 20px;
    margin: 10px 10px;
    word-wrap: break-word;
}